@model Cocktail
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="margin-bar-card shadow">
        <img src="@Model.ImagePath  " alt="">
        <div class="caption">
            <h3 class="pull-right">@Model.Rating</h3>
            <h3>
                <a asp-controller="Pie"
                   asp-action="Details"
                   asp-route-id="@Model.Id">@Model.Name</a>
            </h3>
            <p>@Model.Recipe</p>
        </div>

        <a asp-controller="Cocktails" asp-action="Review" asp-route-Id="@Model.Id" button type="submit" method="post" class="btn btn-primary">Review</a>

    </div>
</div>

